@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

section,
footer {
	background-color: #fffcfc;
}

body {
	background-color: #20866e;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 150px;
	z-index: 99;
	background-color: #41c17d;
	background-image: linear-gradient(#23a94c00, #248888);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
	padding: 0 48px;

	.logo-image {
		border-radius: 5px 20px 5px 20px;
		filter: drop-shadow(0 3px 4px #1d1d1d);
	}

	ul {
		display: flex;
		flex-direction: row;
		gap: 15px;

		li {
			list-style-type: none;

			a {
				text-decoration: none;
				transition: color 300ms;
				color: white;

				&:hover {
					color: darken($color: white, $amount: 10);
				}
			}
		}
	}
}
